html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    font-size: 2vmin;
  font-weight: bold;
  width: 40vmin;
  height: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5vmin;
  border: .4vmin solid grey;
  color: grey;
  border-radius: 1vmin;
  outline: none;

  }

  .score{
    justify-content: left;
  }